mixin projectPeopleRolesTable(peopleRolesByProject)

	table#projectPeopleRolesTable.table-bordered(style='width:100%')
		thead
			tr
				th(style='width:40%') Sub-Project
				th(style='width:15%') Principal Investigator(s)
				th(style='width:15%') Co-Investigator(s)
				th(style='width:15%') Collaborator(s)
				th(style='width:15%') Other Personal
				
		tbody
			if(peopleRolesByProject)
				each item in peopleRolesByProject
					tr
						td
							p  #{item.SubProjectName}
						td
							p  #{item.PI}
						td
							p  #{item.CoInvestigators}
						td
							p  #{item.Collaborators}
						td
							p  #{item.OtherPersonal}
