mixin subProjectBudgetTable(contacts,institutions,managed,subProjectBudget)

	button.btn.btn-default.btn-sm.fa.fa-plus(type='button'  onClick="addTableRow('subProjectBudgetTable');") Budget Record
	table#subProjectBudgetTable.table-bordered(style='width:100%; table-layout:fixed;')
		thead
			tr
				th(style='width:12%') Investigator
				th(style='width:12%') Institution	
				th(style='width:12%') Co-Funder	
				th(style='width:10%') FO
				th(style='width:7%') Managed		
				th(style='width:8%') Year 1
				th(style='width:8%') Year 2
				th(style='width:8%') Year 3
				th(style='width:8%') Year 4
				th(style='width:8%') Year 5
				th(style='width:10%') Total
				th(style='width:5%')
		tbody
			tr(style='display:none;')
				td
					select(style='width:100%' id='investigators' name='investigators' data-placeholder='')
						each item in contacts
							option(value=item.ContactID) #{item.FullName}
				
				td
					select(style='width:100%' id='piInstitutions' name='piInstitutions' data-placeholder='')
						each item in institutions
							option(value=item.InstitutionID) #{item.InstitutionName}

				td
					select(style='width:100%' id='cofunders' name='cofunders' data-placeholder='')
						each item in institutions
							option(value=item.InstitutionID) #{item.InstitutionName}
				td
					select(style='width:100%' id='finOfficer' name='finOfficer' data-placeholder='')
						each item in contacts
							option(value=item.ContactID) #{item.FullName}
				td
					select(style='width:100%' id='managed' name='managed' data-placeholder='')
						each item in managed
							option #{item.Managed}
				
				td
					input(style='width:100%' type="text" name="year1Amt" value='' ).numbersOnly
				td
					input(style='width:100%' type="text" name="year2Amt" value='').numbersOnly
				td
					input(style='width:100%' type="text" name="year3Amt" value='').numbersOnly  
				td
					input(style='width:100%' type="text" name="year4Amt" value='').numbersOnly       
				td
					input(style='width:100%' type="text" name="year5Amt" value='').numbersOnly
				td
					input(style='width:100%' type="text" name="yearTotalAmt" value='').numbersOnly


			if (subProjectBudget)
				each ci in subProjectBudget
					tr(id = `${ci.SubProjectBudgetID}` )
						td
							select(style='width:100%' id='investigators' name='investigators' data-placeholder='')
								each item in contacts
									option(value=item.ContactID selected=ci.PIID==item.ContactID) #{item.FullName}

						td
							select(style='width:100%' id='piInstitutions' name='piInstitutions' data-placeholder='')
								each item in institutions
									option(value=item.InstitutionID selected=ci.InstitutionID==item.InstitutionID) #{item.InstitutionName}

						td
							select(style='width:100%' id='cofunders' name='cofunders' data-placeholder='')
								each item in institutions
									option(value=item.InstitutionID selected=ci.CoFunderID==item.InstitutionID) #{item.InstitutionName}

						td
							select(style='width:100%' id='finOfficer' name='finOfficer' data-placeholder='')
								each item in contacts
									option(value=item.ContactID selected=ci.FinancialOfficerID==item.ContactID) #{item.FullName}

						td
							select(style='width:100%' id='managed' name='managed' data-placeholder='')
								each item in managed
									option(value=item.Managed selected=ci.Managed==item.Managed) #{item.Managed}

						td
							input(style='width:100%' type="text" name="year1Amt" value=ci.Year1Amt.toFixed(2)).numbersOnly
						td
							input(style='width:100%' type="text" name="year2Amt" value=ci.Year2Amt.toFixed(2)).numbersOnly
						td
							input(style='width:100%' type="text" name="year3Amt" value=ci.Year3Amt.toFixed(2)).numbersOnly
						td
							input(style='width:100%' type="text" name="year4Amt" value=ci.Year4Amt.toFixed(2)).numbersOnly
						td
							input(style='width:100%' type="text" name="year5Amt" value=ci.Year5Amt.toFixed(2)).numbersOnly
						td
							input(style='width:100%' type="text" name="yearTotalAmt" id="yearTotalAmt" value='').numbersOnly
		tfoot.foot
			td.font-weight-bold(colspan="5") Total:
			td
				input(style='width:100%' type="text" name="year1Total" readonly).numbersOnly
			td
				input(style='width:100%' type="text" name="year2Total" readonly).numbersOnly
			td
				input(style='width:100%' type="text" name="year3Total" readonly).numbersOnly
			td
				input(style='width:100%' type="text" name="year4Total" readonly).numbersOnly
			td
				input(style='width:100%' type="text" name="year5Total" readonly).numbersOnly
			td
				input(style='width:100%' type="text" name="yearsTotal" readonly).numbersOnly

