
mixin subProjectManagersTable(contacts,subProjectManagers)

	table#subProjectManagersTable.table-bordered(style='width:100%')
		thead
			tr
				th(style='width:90%') 
					button.btn.btn-default.btn-sm.fa.fa-plus(type='button'  onClick="addTableRow('subProjectManagersTable');") Sub Project Manager
					
				th(style='width:10%')
		tbody
			tr(style='display:none;')
				td
					select(style={width: '100%'} id='subProjectManagers' name='subProjectManagers' data-placeholder='')
						each item in contacts
							option(value=item.ContactID) #{item.FullName}

			if (subProjectManagers)
				each ci in subProjectManagers
					tr(id = `${ci.SubProjectManagerID}` )
						td
							select(style={width: '100%'} id='subProjectManagers' name='subProjectManagers' data-placeholder='')
								each item in contacts
									option(value=item.ContactID selected=ci.ContactID==item.ContactID) #{item.FullName}
